.modal-backdrop {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.7);

  display: none;

  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.modal-backdrop.active {
  display: flex;
}

/* MODAL BOX */
.mastery-modal {
  width: 500px;
  max-width: 90%;

  background: #1e2936;

  border-radius: 18px;

  padding: 32px;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* CLOSE BUTTON */
.close-modal {
  position: absolute;

  top: 18px;
  right: 18px;

  background: transparent;
  border: none;

  color: white;

  font-size: 22px;
  cursor: pointer;
}

/* TITLE */
.mastery-modal h1 {
  margin-bottom: 28px;
}

/* INPUT GROUP */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group label {
  margin-bottom: 8px;
  font-weight: 600;
}

.input-group input {
  padding: 12px;

  background: #111827;

  border: 1px solid #2c3b4d;
  border-radius: 10px;

  color: white;
}

/* BUTTON */
#calculateBtn {
  width: 100%;

  padding: 14px;

  margin-top: 12px;

  background: #58d68d;
  color: black;

  border: none;
  border-radius: 12px;

  font-weight: bold;
  font-size: 16px;

  cursor: pointer;
}

/* RESULTS */
.results {
  margin-top: 12px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.results p {
  font-size: 18px;
}